:root {
    --color-primary:   #7289DA;
    --color-success:   #43B581;
    --color-error:     #F04747;
    --color-warning:   #FAA61A;
    --color-darkest:   #202225;
    --color-darker:    #292B2F;
    --color-dark:      #2F3136;
    --color-medium:    #36393F;
    --color-light:     #B9BBBE;
    --color-lighter:   #DCDDDE;
    --color-lightest:  #FFFFFF;

    --size-biggest: 52px;
    --size-bigger:  48px;
    --size-big:     40px;
    --size-normal:  32px;
    --size-small:   20px;
    --size-smaller: 16px;

    --font-big:      20px;
    --font-normal:   16px;
    --font-small:    14px;
    --font-smaller:  12px;
}