:root {
    --color-primary:   #7289DA;
    --color-success:   #43B581;
    --color-error:     #F04747;
    --color-warning:   #FAA61A;
    --color-darkest:   #202225;
    --color-darker:    #292B2F;
    --color-dark:      #2F3136;
    --color-medium:    #36393F;
    --color-light:     #B9BBBE;
    --color-lighter:   #DCDDDE;
    --color-lightest:  #FFFFFF;

    --size-biggest: 52px;
    --size-bigger:  48px;
    --size-big:     40px;
    --size-normal:  32px;
    --size-small:   20px;
    --size-smaller: 16px;

    --font-big:      20px;
    --font-normal:   16px;
    --font-small:    14px;
    --font-smaller:  12px;
}

@font-face {
    font-family: 'Whitney';
    font-weight: 500;
    src: url('3bdef1251a424500c1b3a78dea9b7e57.woff') format('woff');
}

@font-face {
    font-family: 'Whitney';
    font-weight: 200;
    src: url('6c6374bad0b0b6d204d8d6dc4a18d820.woff') format('woff');
}

@font-face {
    font-family: 'Whitney';
    font-weight: 700;
    src: url('8e12fb4f14d9c4592eb8ec9f22337b04.woff') format('woff');
}

@font-face {
    font-family: 'Whitney';
    font-weight: 600;
    src: url('be0060dafb7a0e31d2a1ca17c0708636.woff') format('woff');
}

@font-face {
    font-family: 'Whitney';
    font-weight: 300;
    src: url('e8acd7d9bf6207f99350ca9f9e23b168.woff') format('woff');
}

body {
    font-family: 'Whitney', sans-serif;
}